config/card.rnc

# card.rnc: If this file is card.rnc: Do not forget to update card.rng if you
# change this file! This is not actually used by Aperta, but it is far easier to
# write than XML. .rnc is the RelaxNG compact schema format. We translate it
# into the xml format using a utility called `trang`. `trang `is a java utility
# from RelaxNG. if you're using apt you can install it via `sudo apt-get install
# trang`, otherwise clone the repo at https://github.com/relaxng/jing-trang and
# follow the instructions there. Run trang (or the trang.jar file)as follows to
# translate the compact rnc format to the rng that gets used in the XmlCardLoader
#   `trang -I rnc -O rng card.rnc card.rng`
#
# card.rng: If this file is card.rng, please edit card.rnc instead. You will be
# happier

possible-value = element possible-value {
                     attribute label { text },
                     attribute value { text }
                 }

# Inputs
radio-input = element content {
                  attribute ident { text }?,
                  attribute value-type { "text" },
                  attribute content-type { "radio" },
                  attribute default-answer-value { text }?,
                  element text { text },
                  possible-value*,
                  content*
              }

check-box-input = element content {
                attribute ident { text }?,
                attribute content-type { "check-box" },
                attribute default-answer-value { "true" | "false" }?,
                attribute value-type { "boolean" },
                (element label { text }? &
                element text { text }?),
                content*
            }

text-input = element content {
                 attribute ident { text }?,
                 attribute value-type { "text" },
                 attribute content-type { "short-input" | "paragraph-input" },
                 attribute default-answer-value { text }?,
                 (element placeholder { text }? &
                  element text { text })
             }

# Contents
text-content = element content {
                   attribute ident { text }?,
                   attribute content-type { "text" },
                   element text { text }
               }

display-children-content = element content {
                               attribute ident { text }?,
                               attribute content-type { "display-children" },
                               content*
                           }

display-with-value-content = element content {
                                 attribute ident { text }?,
                                 attribute content-type { "display-with-value" },
                                 attribute visible-with-parent-answer { text },
                                 content*
                             }

field-set = element content {
                attribute ident { text }?,
                attribute content-type { "field-set" },
                content*
            }

content = (radio-input |
           text-input |
           text-content |
           display-children-content |
           display-with-value-content |
           field-set |
           check-box-input)

start = element card {
            attribute name { text },
            attribute required-for-submission { "true" | "false" },
            content
        }
