config/card.rnc

# Do not forget to update card.rng if you change this file! This is not actually
# used by Aperta, but it is far easier to write than XML.
#
# trang -I rnc -O rng card.rnc card.rng

content = element content {
              attribute ident { text }?,
              attribute value-type { "attachment" | "boolean" | "text" | "question_set" },
              attribute text { text }?,
              element text { text }?,
              content*
          }

start = element card {
    attribute name { text },
    content
}
