config/card.rnc

# card.rnc: If this file is card.rnc: Do not forget to update card.rng if you
# change this file! This is not actually used by Aperta, but it is far easier to
# write than XML.
#
#   trang -I rnc -O rng card.rnc card.rng
#
# card.rng: If this file is card.rng, please edit card.rnc instead. You will be
# happier

possible-value = element possible-value {
                     attribute label { text},
                     attribute value { text}
                 }

text-content = element content {
              attribute ident { text }?,
                   attribute content-type { "text" },
                   element text { text }
               }

radio-content = element content {
              attribute ident { text }?,
              attribute value-type { "text" },
              attribute content-type { "radio" },
              possible-value*,
              content*
          }

other-content = element content {
              attribute ident { text }?,
              attribute value-type { "attachment" | "boolean" | "text" | "question_set" }?,
              attribute content-type { "display-children" | "text" },
              element text { text }?,
              content*
          }

content = (radio-content | text-content | other-content)

start = element card {
    attribute name { text },
    content
}
