config/card.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    card.rnc: If this file is card.rnc: Do not forget to update card.rng if you
    change this file! This is not actually used by Aperta, but it is far easier to
    write than XML.
    
      trang -I rnc -O rng card.rnc card.rng
    
    card.rng: If this file is card.rng, please edit card.rnc instead. You will be
    happier
  -->
  <define name="content">
    <element name="content">
      <optional>
        <attribute name="ident"/>
      </optional>
      <optional>
        <attribute name="value-type">
          <choice>
            <value>attachment</value>
            <value>boolean</value>
            <value>text</value>
            <value>question_set</value>
          </choice>
        </attribute>
      </optional>
      <attribute name="content-type">
        <choice>
          <value>display-children</value>
          <value>text</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="text"/>
      </optional>
      <optional>
        <element name="text">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="content"/>
      </zeroOrMore>
    </element>
  </define>
  <start>
    <element name="card">
      <attribute name="name"/>
      <ref name="content"/>
    </element>
  </start>
</grammar>
