config/card.rnc

# card.rnc: If this file is card.rnc: Do not forget to update card.rng if you
# change this file! This is not actually used by Aperta, but it is far easier to
# write than XML.
#
#   trang -I rnc -O rng card.rnc card.rng
#
# card.rng: If this file is card.rng, please edit card.rnc instead. You will be
# happier

possible-value = element possible-value {
                     attribute label { text},
                     attribute value { text}
                 }

# Inputs
radio-input = element content {
                  attribute ident { text }?,
                  attribute value-type { "text" },
                  attribute content-type { "radio" },
                  element text { text },
                  possible-value*,
                  content*
              }

text-input = element content {
                 attribute ident { text }?,
                 attribute value-type { "text" },
                 attribute content-type { "short-input" | "paragraph-input" },
                 (element placeholder { text }? &
                  element text { text })
             }

# Contents
text-content = element content {
                   attribute ident { text }?,
                   attribute content-type { "text" },
                   element text { text }
               }

display-children-content = element content {
                               attribute ident { text }?,
                               attribute content-type { "display-children" },
                               content*
                           }


content = (radio-input | text-input | text-content | display-children-content)

start = element card {
            attribute name { text },
            content
        }
