config/card.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="content">
    <element name="card_content">
      <optional>
        <attribute name="ident"/>
      </optional>
      <optional>
        <attribute name="value_type">
          <choice>
            <value>attachment</value>
            <value>boolean</value>
            <value>text</value>
            <value>question_set</value>
          </choice>
        </attribute>
      </optional>
        <attribute name="content_type">
          <choice>
            <value>root</value>
            <value>text</value>
          </choice>
        </attribute>
      <optional>
        <attribute name="text"/>
      </optional>
      <optional>
        <element name="text">
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="content"/>
      </zeroOrMore>
    </element>
  </define>
  <start>
    <element name="card">
      <attribute name="name"/>
      <ref name="content"/>
    </element>
  </start>
</grammar>
